body{

    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: arial;

}
/*MENU LATERAL*/
#menu-lateral{

    position: absolute;
    width: 6%;
    height: 100vh;
    background: linear-gradient(180deg, #1af, #0fa);


}
#menu-lateral ul { list-style: none; margin: 0; padding: 50px 0px; }
#menu-lateral li { margin: 0; padding: 20px 25px; }
#menu-lateral li:hover { background-color: rgba(0, 201, 235, 1); }
/*MENU LATERAL*/

/*MENU DO TOPO*/
#menu-top{

    position: absolute;
    width: 93%;
    height: 80px;
    margin-left: 6%;
    padding-left: 1%;
    background-color:#dedede;
    display: flex;
    flex-direction: row;

}
.centralizar{/*background-color: #f0f;*/width: 100%;height: auto; margin: 20px 0px;padding: 5px 5px;}
.centralizar span{/*background-color: #ff0;*/width: auto;font-size: 25px;font-family:  Arial;}
.notificacao{ margin-left: 3rem;}

input{
    
    position: absolute;
    border-radius: 50px;
    border:2px solid black;
    margin-left: 70%;
    margin-bottom:20px ;
    padding: 0px 10px;
    height: 25px;

}
/*MENU DO TOPO*/

.main{

    /*background-color: #ff6;*/
    position: absolute;
    width: 69.5%;
    height: 89.4%;
    margin-top: 5%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}
.aside{
    
    /*background-color: #b434b4;*/
    position: absolute;
    width: 25%;
    height: 89.4%;
    margin-top: 5%;
    margin-left: 75%;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
}

.container{

    /*background-color: #964b00;*/
    width: 90%;
    height: 17rem;
    margin: 10px 5%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.container2{
    
    /*background-color: #4f4;*/
    width: 90%;
    height: 22.7rem;
    margin: 18.7rem 5%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info{

    background-color: #fff;
    width: 27.5%; height: 100%;
    border-radius: 20px;
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.indice{
    
    background-color: #fff;
    width: 27.5%; height: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    

}
.grafico{
    
    background-color: #333;
    width: 63.7%; height: 100%;
    margin: 0px 0px 0px 8.8%;
    border-radius: 20px;
    position: relative;
    
}
.grafico img{

    border-radius: 20px;

}

.bloco1{ 
    
    background-color: #fff;
    width: 90%; 
    height: 40.3%; 
    margin: 10px 5% 10px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco2{ 
    
    background-color: #fff;
    width: 90%; 
    height: 53.7%; 
    margin: 8px 3% 10px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

table{

    font-size: 30px;
    margin: 25px auto;
}

tr{

    border: 1px solid red;

}

td{

    border-bottom: 2px solid;
    padding: 5px 5px;
}
